

//fuentes

$fuente_principal: 'Bona Nova', serif;
$fuente_secundaria:'Raleway', sans-serif;
$fuente_cursiva:'Bona Nova', serif;


//meadia queries

$telefono: 480px;
$tablet: 768px;
$desktop: 1024 ;


//colores

$primario: #5E311E;
$secundario: #C39C63 ;
$negro:#000 ;
$blaco: #fff ;
$grisClaro: #eceeef;
$cafeClaro: #ebe7de;



//unidades

$separacion: 5rem;