

//fuentes

<<<<<<< HEAD
$fuente_principal: 'Roboto', sans-serif;
=======
$fuente_principal: 'Bona Nova', serif;
$fuente_secundaria:'Raleway', sans-serif;
$fuente_cursiva:'Bona Nova', serif;

>>>>>>> develop

//meadia queries

$telefono: 480px;
$tablet: 768px;
$desktop: 1024 ;


//colores

<<<<<<< HEAD
$primario: #E8505B;
$secundario: #455A64 ;
$negro:#000 ;
$blaco: #fff ;
$grisClaro: #eceeef;
=======
$primario: #5E311E;
$secundario: #C39C63 ;
$negro:#000 ;
$blaco: #fff ;
$grisClaro: #eceeef;
$cafeClaro: #ebe7de;
>>>>>>> develop



//unidades

$separacion: 5rem;