@use 'base/variables' as v;

.iconos{
margin-top: 5rem;

  .listado-iconos{

    li{

      img{
        margin: 0 auto;
        width: 12rem;
        
      }

      p{
        font-family: v.$fuente_cursiva;
        color: v.$primario;
        font-size: 3.2rem;
  
      }
    }
  }
}